<div class="card" style="margin-left: 100px;margin-right: 100px;margin-top: 50px;box-shadow: 0px 3px 4px 1px grey; border:none">
  <div style="background-color: #545b620a;" class="card-header">
  Lista de Empresas cadastradas
</div>
  <div  class="card-body">
    <div class="row">
      <div class="col-md-10">
        <div>
          <div style="margin-left: 41px;" class="card-body">
            <form [formGroup]="empresaForm" (ngSubmit)="findEmpresa()">
                    <div class="form-row">
                        <div class="col-md-3">
                                <input type="text" class="form-control" formControlName="nome" placeholder="Nome da Empresa">
                        </div>
                        <div class="col-md-3">
                                <input type="text" class="form-control" formControlName="cnpj" placeholder="CNPJ">
                        </div>
                        <div class="col-md-3">
                          <button class="btn btn-primary" type="submit" [disabled]="!empresaForm.valid">Pesquisar</button>

                        </div>

                    </div>

            </form>
        </div>
        </div>
      </div>
    </div>
    <div *ngIf="message" class="alert alert-warning" role="alert">
      {{message}}
     </div>

    <div class="row">
      <div style="margin-left:63px;">
        <div>
         <div class="col">
          <div class="card">
        <table class="table ">
          <thead class="thead-dark">
      <tr class="thead-light">
        <th scope="col">Nome</th>
        <th scope="col">Cnpj</th>
        <th scope="col">Contato</th>
        <th scope="col">Cep</th>
        <th scope="col">Bairro</th>
        <th scope="col">Logradouro</th>
        <th scope="col">Tipo</th>
        <th scope="col">Razão Social</th>
        <th scope="col">E-mail</th>
        <th scope="col">Estado</th>
        <th scope="col">Cidade</th>
        <th scope="col">Complemento</th>
        <th scope="col">Editar</th>
        <th scope="col">Apagar</th>
      </tr>
      </thead>
           <tr *ngFor="let empresa of listEmpresa">
             <td>{{empresa.nome}}</td>
             <td>{{empresa.cnpj}}</td>
             <td>{{empresa.contato}}</td>
             <td>{{empresa.cep}}</td>
             <td>{{empresa.bairro}}</td>
             <td>{{empresa.logradouro}}</td>
             <td>{{empresa.tipoEmpresa}}</td>
             <td>{{empresa.razaoSocial}}</td>
             <td>{{empresa.email}}</td>
             <td>{{empresa.estado}}</td>
             <td>{{empresa.cidade}}</td>
             <td>{{empresa.complemento}}</td>
             <td>
               <button class="btn btn-warning" ><i style="font-size:35px" class="fa fa-pencil" aria-hidden="true" routerLink="/editar/{{empresa.id}}"></i></button>
            </td>
            <td>
              <button class="btn btn-danger" (click)="delete(empresa.id)"><i style="font-size:35px" class="fa fa-trash" aria-hidden="true"></i></button>
           </td>

           </tr>
        </table>
      </div>
      </div>
      </div>
      <div style="margin-top:20px">
        <ngb-pagination [collectionSize]="70" [(page)]="pageNo" [maxSize]="5" [rotate]="true" [ellipses]="false" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
      </div>
      </div>
    </div>
  </div>


</div>
