<div class="center" style="margin: 0;
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%); width: 50%;; padding: 20px;" class="card">
    <form [formGroup]="empresaForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
            <div class="form-row">
                <div class="col">
                    <label>
                        Nome:
                        <input type="text" class="form-control" [class.is-invalid] = "empresaForm.get('nome').invalid && empresaForm.get('nome').touched" formControlName="nome">
                    </label>
                </div>
                <div class="col">
                    <label>
                        Cnpj
                        <input type="text" class="form-control" [class.is-invalid] = "empresaForm.get('cnpj').invalid && empresaForm.get('cnpj').touched" formControlName="cnpj">
                    </label>
                </div>
                <div class="col">
                    <label>
                        Contato
                        <input type="text" class="form-control" [class.is-invalid] = "empresaForm.get('contato').invalid && empresaForm.get('contato').touched"  formControlName="contato">
                    </label>
                </div>
                <div class="col">
                    <label>
                        Cep
                        <input type="text" class="form-control" [class.is-invalid] = "empresaForm.get('cep').invalid && empresaForm.get('cep').touched"  (keyup)="onKey($event)" formControlName="cep">
                    </label>
                </div>

            </div>

        </div>

        <div class="form-group">
            <div class="form-row">
                <div class="col">
                    <label>
                        Bairro:
                        <input type="text" class="form-control" [class.is-invalid] = "empresaForm.get('bairro').invalid && empresaForm.get('bairro').touched"  formControlName="bairro">
                    </label>
                </div>

                <div class="col">
                    <label>
                        Logradouro:
                        <input type="text" class="form-control" [class.is-invalid] = "empresaForm.get('logradouro').invalid && empresaForm.get('logradouro').touched"  formControlName="logradouro">
                    </label>
                </div>

                <div class="col">
                    <label>
                        Tipo
                        <select class="form-control" [class.is-invalid] = "empresaForm.get('tipoEmpresa').invalid && empresaForm.get('tipoEmpresa').touched"  formControlName="tipoEmpresa">
                            <option value="MATRIZ">MATRIZ</option>
                            <option value="FILIAL">FILIAL</option>
                        </select>

                    </label>
                </div>

                <div class="col">
                    <label>
                        Razao Social
                        <input type="text" class="form-control" [class.is-invalid] = "empresaForm.get('razaoSocial').invalid && empresaForm.get('razaoSocial').touched"  formControlName="razaoSocial">
                    </label>
                </div>

            </div>
        </div>

        <div class="form-group">
            <div class="form-row">
                <div class="col">
                    <label>
                        E-mail:
                        <input type="text" class="form-control" [class.is-invalid] = "empresaForm.get('email').invalid && empresaForm.get('email').touched" formControlName="email">
                    </label>
                </div>
                <div class="col">
                    <label>
                        Estado:
                        <input type="text" class="form-control" [class.is-invalid] = "empresaForm.get('estado').invalid && empresaForm.get('estado').touched"  formControlName="estado">
                    </label>
                </div>
                <div class="col">
                    <label>
                        Cidade
                        <input type="text" class="form-control" [class.is-invalid] = "empresaForm.get('cidade').invalid && empresaForm.get('cidade').touched"  formControlName="cidade">
                    </label>
                </div>
                <div class="col">
                    <label>
                        Complemento
                        <input type="text" class="form-control" formControlName="complemento">
                    </label>
                </div>
            </div>
        </div>
        <div *ngIf="messageSucess" class="alert alert-success" role="alert">
        {{messageSucess}}
        </div>
        <div *ngIf="messageError" class="alert alert-danger" role="alert">
        {{messageError}}
        </div>
        <button class="btn btn-primary" type="submit" [disabled]="!empresaForm.valid">Submit</button>

    </form>

</div>
