<nav style="box-shadow: 9px 1px 2px 0px grey;" class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" routerLink="/empresas">Empresas</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link"  routerLink="/cadastro">Cadastrar Empresa <span class="sr-only">(current)</span></a>
      </li>

    </ul>
  </div>
</nav>
<div>
 <router-outlet></router-outlet>
</div>
