<div class="center" style="margin: 0;
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%); width: 50%;; padding: 20px;" class="card">
    <form [formGroup]="empresaForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
            <div class="form-row">
                <div class="col">
                    <label>
                        Nome:
                        <input type="text" [(ngModel)]="empresa.nome" class="form-control" formControlName="nome">
                    </label>
                </div>
                <div class="col">
                    <label>
                        Cnpj
                        <input type="text" [(ngModel)]="empresa.cnpj" class="form-control" formControlName="cnpj">
                    </label>
                </div>
                <div class="col">
                    <label>
                        Contato
                        <input type="text" [(ngModel)]="empresa.contato" class="form-control" formControlName="contato">
                    </label>
                </div>
                <div class="col">
                    <label>
                        Cep
                        <input type="text" [(ngModel)]="empresa.cep" class="form-control" formControlName="cep">
                    </label>
                </div>

            </div>

        </div>

        <div class="form-group">
            <div class="form-row">
                <div class="col">
                    <label>
                        Bairro:
                        <input type="text" [(ngModel)]="empresa.bairro" class="form-control" formControlName="bairro">
                    </label>
                </div>

                <div class="col">
                    <label>
                        Logradouro:
                        <input type="text" [(ngModel)]="empresa.logradouro" class="form-control" formControlName="logradouro">
                    </label>
                </div>

                <div class="col">
                    <label>
                        Tipo
                        <select [(ngModel)]="empresa.tipoEmpresa" class="form-control" formControlName="tipoEmpresa">
                            <option value="MATRIZ">MATRIZ</option>
                            <option value="FILIAL">FILIAL</option>
                        </select>

                    </label>
                </div>

                <div class="col">
                    <label>
                        Razao Social
                        <input type="text" [(ngModel)]="empresa.razaoSocial" class="form-control" formControlName="razaoSocial">
                    </label>
                </div>

            </div>
        </div>

        <div class="form-group">
            <div class="form-row">
                <div class="col">
                    <label>
                        E-mail:
                        <input type="text" [(ngModel)]="empresa.email" class="form-control" formControlName="email">
                    </label>
                </div>
                <div class="col">
                    <label>
                        Estado:
                        <input type="text" [(ngModel)]="empresa.estado" class="form-control" formControlName="estado">
                    </label>
                </div>
                <div class="col">
                    <label>
                        Cidade
                        <input type="text" [(ngModel)]="empresa.cidade" class="form-control" formControlName="cidade">
                    </label>
                </div>
                <div class="col">
                    <label>
                        Complemento
                        <input type="text" [(ngModel)]="empresa.complemento" class="form-control" formControlName="complemento">
                    </label>
                </div>
            </div>
        </div>
        <div *ngIf="messageSucess" class="alert alert-success" role="alert">
            {{messageSucess}}
        </div>
        <div *ngIf="messageError" class="alert alert-danger" role="alert">
            {{messageError}}
        </div>
        <button class="btn btn-primary" type="submit" [disabled]="!empresaForm.valid">Submit</button>
    </form>

</div>
